.navbar {
    z-index: 3;
    width: 100%;
    text-align: center;
    @include transparent($primary, .15);
    @include fixed(left 0 top 0);
    @include small-screen {
        text-align: right;
        background-color: transparent;     
    }

    ul {
        width: 100%;
        padding: 0px; 
        margin: 0 auto;
        list-style: none;
        @include small-screen {
            width: 80%;  
            padding: 10px;
        }
        li {
            width: 100%;
            display: block;
            @include small-screen {
                width: auto;
                display: inline-block;                
            }
        }
    }

    .nav-logo {
        float: left;
        padding: 10px;
        text-align: left;
        @include small-screen {
            padding: 0px;
        }
        img {
            width: 50px;
            display: inline-block;
        }
    }

    .toggle {
        top: 10px;
        right: 10px;
        float: right;
        position: fixed;
        text-align: right;
        @include small-screen {
            display: none;
        }
        button {
            border: none;
            padding: 8px 10px;
            border-radius: 5px;
            @include transparent(#FFF, .1);
            img {
                width: 20px;
                padding-top: 2px;
            }
        }
    }

    .nav-item {
        display: none;
        @include small-screen {
            display: inline-block;
        }
        a {
            width: 100%;
            color: #FFF;
            padding: 15px 0;
            border-radius: 5px;
            text-align: center;
            letter-spacing: 2.5px;
            display: inline-block;
            @include font-size(13);
            text-transform: uppercase;
            @include small-screen {
                width: 95px;
            }
            &:hover {
                @include transparent(#FFF, .6); 
                @include transition(background-color .5s);
            }
        }
    }

    .active {
        a {
            font-weight: 500;
            @include transparent(#FFF, .9);
        }
    }
}

.sticky {
    @include transparent($primary, .15);
    @include transition(background-color .5s);
    // @include shadow(2px 1px 1px 1px #000);
}