.services-container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    .container {
        padding: 10px;
        @include grid(1fr, 5px);
        @include medium-screen {
            @include grid-columns(1fr 1fr);
        }

        .block {
            padding: 10px;
            @include grid(1fr, 0px);
            @include small-screen {
                @include grid-columns(200px auto);
            }
            img {
                width: auto;
                max-width: 200px;
                height: 200px;
                border-radius: 10px;
            }
            .info {
                padding: 10px 0px;
                @include small-screen {
                    padding: 10px 20px;
                }
                h1 {
                    color: $primary;
                    letter-spacing: 2px;
                    @include font-size(16);
                }
                p {
                    color: #333;
                    @include font-size(14);
                }
            }
        }
    }
}