.services-container {
    width: 70%;
    margin: auto;
    padding: 40px 0;
    .container {
        padding: 10px;
        @include grid(1fr 1fr, 5px);

        .block {
            padding: 10px;
            @include grid(200px auto, 0px);
            img {
                width: auto;
                max-width: 200px;
                height: 200px;
                border-radius: 10px;
            }
            .info {
                padding: 10px 20px;
                h1 {
                    color: $primary;
                    letter-spacing: 2px;
                    @include font-size(16);
                }
                p {
                    color: #333;
                    @include font-size(14);
                }
            }
        }
    }
}